{% extends "scheduler/base.html"  %}
{% load humanize %}
{% load csfilters %} 
{% block content %}
{{block.super }}
<span class="page_heading">{{page_title}}</span>

<ul>
   {% for task in all_pending_tasks %}
   
      <li> 
      <a href="{% url task_details task.id %}"><b>{{task.name}}</b> </a> 
      <a href="{% url edit_task task.id  %}"><img src="{{ MEDIA_URL }}img/edit.png" ALT="EDIT"></a> <A href="{% url delete_task task.id  %}"><img src="{{ MEDIA_URL }}img/remove.png" ALT="DELETE"></A>
      Only {{task.submission_date|naturaltime}}
      <br>
        {{task.submission_date}} <br>
        {{ task.expected_duration|mts_to_hours}}  duration <br>
        {{task.status}} <br>
        {{task.course}}
        </li>
   {% endfor %}
   </ul>

<class="footer" ><a href="{% url home  %}"><img src="{{ MEDIA_URL }}img/home.png"></a>   
{% endblock %}