<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Course Scheduler{% block title %}| {{page_title}} {% endblock %}</title>
<LINK REL=StyleSheet HREF="{{MEDIA_URL}}css/coursescheduler.css" TYPE="text/css" MEDIA="screen, print"/>
<LINK REL=StyleSheet HREF="{{MEDIA_URL}}css/jquery-ui-1.8.23.css" TYPE="text/css" MEDIA="screen, print"/>
<LINK REL=StyleSheet HREF="{{MEDIA_URL}}css/jquery-ui-timepicker-addon-1.0.3.css" TYPE="text/css" MEDIA="screen, print"/>
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/ch.ico"/>
{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.23.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-sliderAccess-0.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-timepicker-addon-1.0.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ch.js"></script>
<script>
var M_URL = "{{MEDIA_URL}}";
</script>
{% endblock %}

</head>
<body {% block load_js %}{% endblock %}>
<div id="logo"> <img src="{{ MEDIA_URL }}img/chlogo.png">
<span class="logo">Course Scheduler</span>
</div>


<div id="content">
   {% block content %}
   <div class = "welcome-message">
   {% if user.is_authenticated %}
      welcome {{user.username}}
      <form id="logoutform" method="post" action="{% url coursescheduler_logout %}">{% csrf_token %}
	   	<input type="hidden" name="next" value="{{next|escape}}" />
	    <input type="hidden" name="confirm" value="true" />
	    <input type="submit" value="Logout" class="submit"/>
	</form>
   {% endif %}
   </div>
      {% endblock %}
</div>


</body>
</html>