{% extends "scheduler/base.html"  %}
{% load humanize %}
{% load csfilters %} 
{% block content %}
{{block.super }}

{% if closed_tasks %}
<h3>finished {{closed_tasks|length}} task{{closed_tasks|length|pluralize:",s"}}</h3>
<div class="finished">
<ul>
   {% for task in closed_tasks %}
   
      <li> 
      <a href="{% url task_details task.id %}"><b>{{task.name}}</b> </a> 
      <a href="{% url edit_task task.id  %}"><img src="{{ MEDIA_URL }}img/edit.png" ALT="EDIT"></a> <A href="{% url delete_task task.id  %}"><img src="{{ MEDIA_URL }}img/remove.png" ALT="DELETE"></A>
      <br>
        Deadline : {{task.submission_date}} <br>
        {{ task.expected_duration|mts_to_hours}}  duration 
        <br>
        {{task.completed_till_now|mts_to_hours}} completed
        <br>
        Course : {{task.course}}
        <br>
        Closed on :
        {{task.closed_date}}
        </li>
   {% endfor %}
   </ul>
</div>
{% endif %}
 
{% endblock %}

{% block footer %}
{{block.super}}
{% endblock %}