{% extends "scheduler/base.html" %}
{% block title %}{{block.super}}{% endblock %}

{% block content %}
   {{block.super}}
   {% if courses %}
   	<h3>You created tasks for these Courses</h3>
   {% else %}
   	<h3>You don't have any Courses</h3>
   {% endif %}
   <ul>
   {% for course in courses %}
   
      <li>
      {% if user == course.creator %}
       <a href="{% url edit_course course.id %}"><b>{{course.title}}</b> </a> 
       <a href="{% url delete_course course.id %}"><img src="{{ MEDIA_URL }}img/remove.png"></a>
       {% else %}
       <b>{{course.title}}</b>
       {% endif %}
      
      <br>    {{course.description}}
      
      </li>
   {% endfor %}
   </ul>
 
{% endblock %}

{% block footer %}
{{block.super}}
{% endblock %}