{% extends "scheduler/base.html" %}
{% block title %}{{block.super}}{% endblock %}

{% block content %}
   {{block.super}}
   <h3>You created tasks for these Courses</h3>
   
   <ul>
   {% for course in courses %}
   
      <li>
      {% if user == course.creator %}
       <a href="{% url edit_course course.id %}"><b>{{course.title}}</b> </a> 
       <a href="{% url delete_course course.id %}"><img src="{{ MEDIA_URL }}img/remove.png"></a>
       {% else %}
       <b>{{course.title}}</b>
       {% endif %}
      
      <br>    {{course.description}}
      
      </li>
   {% endfor %}
   </ul>
<div class="footer" ><a href="{% url home  %}"><img src="{{ MEDIA_URL }}img/home.png"></a> 
</div>  
{% endblock %}