{% extends "scheduler/base.html" %}

{% block content %}
   {{block.super}}
   <form name="create_task_form" class="create"  method="POST" action=".">{% csrf_token %}
   <div>
   {{ task_form.non_field_errors }}
   {{task_form.as_p}}
   <h3>select from existing courses </h3>
   {{course_choices_form.as_p}}
   
   
   or
   
   <h3>create a new course</h3>
   {{ course_title_form.as_p}}
   
   {{ task_form.field_errors }}
   <p> 
   <input type="submit" class="submit" value="Create Task"/>
   </p>
   </div>
   </form>

<div class="footer" ><a href="{% url home  %}"><img src="{{ MEDIA_URL }}img/home.png"></a>
</div>
{% endblock %}