{% extends "scheduler/base.html" %}

{% block content %}
   {{block.super}}
   <span class="page_heading">{{page_title}}</span>
   <form name="create_task_form" method="POST" action=".">{% csrf_token %}
   
   {{ task_form.non_field_errors }}
   {{task_form.as_p}}
   <h3>select from existing courses </h3>
   {{course_choices_form.as_p}}
   
   
   or
   
   <h3>create a new course</h3>
   {{ course_title_form.as_p}}
   
   {{ task_form.field_errors }}
   <p> 
   <input type="submit" value="Create Task"/>
   </p>
   </form>

<class="footer" ><a href="{% url home  %}"><img src="{{ MEDIA_URL }}img/home.png"></a>
{% endblock %}