{% extends "scheduler/base.html" %}
{% block title %}{{block.super}}{% endblock %}

{% block content %}
   {{block.super}}
   <h2>{{page_title}}</h2>
   <p>
   <a id="list_courses_link" href="{% url courses %}">List all courses</a>
   </p>
   
   <p>
   <a id="create_course_link" href="{% url create_course %}">create new course</a>
   </p>
   
   <p>
   <a id="list_tasks_link" href="{% url tasks %}"> List all Tasks</a>
   </p>
   
   <p>
   <a id="create_task_link" href="{% url create_task %}"> create new task</a>
   </p>
   
   <p>
   <a id="pending_tasks_link" href="{% url pending_tasks %}"> pending tasks</a>
   </p>
   
   <p>
   <a id="finished_tasks_link" href="{% url closed_tasks %}"> finished tasks</a>
   </p>
   
{% endblock %}