{% extends "scheduler/base.html"  %}
{% load humanize %}
{% load csfilters %} 
{% block content %}
{{block.super }}

{% if pending_tasks %}
<h3>{{pending_tasks|length}} task{{pending_tasks|length|pluralize:",s"}} pending</h3> 
  
  <ul>
    {% for task in pending_tasks %}
	     {% if task.submission_date < current_date %}
	       <div class="oldtask">
	       	{% include "scheduler/includes/task_info.html" with task=task %}
	       </div>
	     {% else%}
	       <div class="pending">
	      	{% include "scheduler/includes/task_info.html" with task=task %}
	       </div>
	     {% endif %}
     
    {% endfor%}
  </ul>

{% else %}

<h3>You don't have any pending tasks</h3>
<br>
	<p>
   		<a id="create_task_link" href="{% url create_task %}"> Create New Task</a>
   </p>
{% endif %}


<class="footer" ><a href="{% url home  %}"><img src="{{ MEDIA_URL }}img/home.png"></a>   
{% endblock %}