{% extends "scheduler/base.html" %}
{% load csfilters %} 
{% block content %}
{{block.super }}

<div class="task_details_div">
<dl>
    <dt>Created By</dt>
    <dd>{{task.author}} </dd>
    
    <dt>Created On</dt>
    <dd>{{task.creation_date}} </dd>

    <dt>Name</dt>
    <dd>{{ task.name}}</dd>

    <dt>Course</dt>
    <dd>{{ task.course}}</dd>

    <dt>Date of Submission</dt>
    <dd> {{task.submission_date|date:"j F, Y"}}</dd>
    
    <dt>Expected Duration</dt>
    <dd>{{ task.expected_duration|mts_to_hours}}</dd>
    
    <dt>Completed</dt>
    <dd>{{ task.completed_till_now|mts_to_hours}} 
    <span class="pie">{{task.completed_till_now}}/{{ task.expected_duration}}</span>
    </dd>
    

    <dt>Status</dt>
    <dd>{{ task.status}}</dd>
{% if  task.closed_date %}
    <dt>Closed On</dt>
    <dd>{{ task.closed_date}}</dd>
{% endif %}
</dl>

<div class="clearflt">
</div>
</div>
<p> <a href="{% url edit_task task.id %}"> <img src="{{ MEDIA_URL }}img/edit.png"> Edit Task</a> </p> 

<p> <a href="{% url delete_task task.id %}"> <img src="{{ MEDIA_URL }}img/remove.png"> Delete Task</a> </p>


{% endblock %}
{% block footer %}
{{block.super}}
{% endblock %}