{% extends "registration/auth_base.html" %}
{% block title %} resetpassword {% endblock %}
{% block content %}


<form method="post" action=".">{% csrf_token %}
<h3>Enter Email to reset your password</h3>

	{% if form.non_field_errors %}
            {{ form.non_field_errors }}
	{% endif %}
    <fieldset class="resetpassfields">
  	{{ form.as_p }}

  <input type="submit" class="submit" value="Reset Password" />
  </fieldset>


</form>
{% endblock %}
 
{% block whatis %}
  password reset page
{% endblock %}
